.swiper {
  overflow: visible;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    width: 332px;
    height: 245px;
    border-radius: 22px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #e1e2ff;

  width: 300px;
  height: 324px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 175px;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    margin-bottom: 0;
    width: 332px;
    height: 245px;
    border-radius: 22px;
  }

  .swiper-slide:nth-child(2n) {
    margin-top: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-slide {
    width: 610px;
    height: 246px;
    border-radius: 40px;
  }

  .swiper-slide:nth-child(2n) {
    margin-top: 20px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  border: 4px solid #fe3fa0;
  border-radius: 50%;
  border: 4px solid #fe3fa0;
}

.swiper-button-prev {
  top: 380px;
  left: 102px;
}

.swiper-button-next {
  top: 380px;
  right: 102px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-position: center;
  font-family: none;
  content: '';
  width: 70px;
  height: 70px;
}

.swiper-button-prev::after {
  background-image: url('../../images/prev-button-mobile.svg');
}

.swiper-button-next::after {
  background-image: url('../../images/next-button-mobile.svg');
}

@media screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 41px;
    height: 41px;
    border: 4px solid #fe3fa0;
  }

  .swiper-button-prev {
    top: -46px;
    left: 604px;
  }
  
  .swiper-button-next {
    top: -46px;
    right: 0px;
  }

  .swiper-button-prev::after {
    background-image: url('../../images/prev-button-tablet.svg');
  }

  .swiper-button-next::after {
    background-image: url('../../images/next-button-tablet.svg');
  }
}

@media screen and (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 75px;
    height: 75px;
    border: 5px solid #fe3fa0;
  }

  .swiper-button-prev {
    top: -100px;
    left: 1080px;
  }
  
  .swiper-button-next {
    top: -100px;
    right: 0px;
  }

  .swiper-button-prev::after {
    background-image: url('../../images/prev-button-desktop.svg');
  }

  .swiper-button-next::after {
    background-image: url('../../images/next-button-desktop.svg');
  }
}

/*
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

/* .swiper-slide {
  width: 80%;
}
.swiper-slide:nth-child(2n) {
  width: 60%;
}


.swiper-slide:nth-child(3n) {
  width: 40%;
}  */
